__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
*.mo
*.pot
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache
.scrapy
scrapy.debug
docs/_build/
.rdb
.tmp.d/
.d
.dys
.nop
.volume
.k
.j
.h
.g
.f
.c
.b
.a
.z
.y
.x
.w
.v
.u
.t
.s
.r
.q
.p
.o
.n
.m
.l
.k
.j
.h
.g
.f
.e
.d
.c
.b
.a
.z
.y
.x
.w
.v
.u
.t
.s
.r
.q
.p
.o
.n
.m
.l
.k
.j
.h
.g
.f
.e
.d
.c
.b
.a
.z
.y
.x
.w
.v
.u
.t
.s
.r
.q
.p
.o
.n
.m
.l
.k
.j
.h
.g
.f
.e
.d
.c
.b
.a
.z
.y
.x
.w
.v
.u
.t
.s
.r
.q
.p
.o
.n
.m
.l
.k
.j
.h
.g
.f
.e
.d
.c
.b
.a
.z
.y
.x
.w
.v
.u
.t
.s
.r
.q
.p
.o
.n
.m
.l
.k
.j
.h
.g
.f
.e
.d
.c
.b
.a
.z
.y
.x
.w
.v
.u
.t
.s
.r
.q
.p
.o
.n
.m
.l
.k
.j
.h
.g
.f
.e
.d
.c
.b
.a
.z
.y
.x
.w
.v
.u
.t
.s
.r
.q
.p
.o
.n
.m
.l
.k
.j
.h
.g
.f
.e
.d
.c
.b
.a
.z
.y
.x
.w
.v
.u
.t
.s
.r
.q
.p
.o
.n
.m
.l

gemini_key.txt

